/* Css Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ======== Carol's Mobile Style =========*/
.header,
.navcontainer {
    display: flex;
    background-color: #222222;
}
.header {
	flex-direction: column;
	align-items: center;
	width: 706px;
	margin: 0px;
    
}
.navcontainer img{
    padding-top: 19px;
    padding-bottom: 25px;
    background-color: #c78b07;
    padding-right: 575px;
    margin: 15px;
    margin-bottom: 0px;
    display: block;
}
.navcontainer a {
    display: block;
    width: 623px;
    color: #c78b07;
    text-decoration: none;
    line-height: 25px;
    padding: 25px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}
.navcontainer .home a {
    display: block;
    width: 623px;
    color: #222222;
    text-decoration: none;
    line-height: 25px;
    padding: 25px;
    background-color: #c78b07;
    margin-top: 0px;
    padding-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}
.navcontainer a:hover {
    background-color: #c78b07;
    color: black;
}
/* Search bar mobile*/	
nav form {
    display: flex;
    padding-right:15px;
    padding-left: 15px;
    margin-bottom: 15px;
}
form button {
    width: 40px ;
    height: 41px;
    border: 1px solid #c78b07;
    background: #222222;
    color: #c78b07;
    font-size: 22px;
    margin:0px;
}
form input[type="text"]{
    width: 615px;
    height: 36px;
    font-family: Arial;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 5px;
    margin: 0px;
}
/* Header 2nd box - welcome mobile */	

.welcome {
    background-image: url("..//images/main-banner.jpg");
    height: 590px;
    background-size: 740px 583px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center
}
header .text1 h1 {
    font-weight: 700;
    font-size: 70px;
    opacity: 100%;
    line-height: 95px;
    color: white;
    padding-left: 15px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.text1 p {
    color: white;
    font-size: 14px;
    line-height: 20px;
    padding-left: 15px;
    padding-right: 45px;
    padding-bottom: 15px;
}
.text1 button {
    width: 245px ;
    height: 95px;
    background: #c78b07;
    color: black;
    font-size: 20px;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 17px;
}
header .welcome .container:before{
    content: "";
    background-color: rgba(0, 0, 0, 0.486);
    width: 706px;
    height: 454px;
    position: absolute;
    background-position: center center;
}
header .text1{
   position: relative;
}
/* ============ MAIN Mobile========== */

.about {
    width: 706px;
    height: 630px;
    background-color:#ffe6ac;
}
main .content img {
    width: 675px;
    height: 342px;
    margin: 15px;
}
.content h2 {
    font-weight: bold;
    font-size: 48px;
    padding: 15px;
}

.content p {
    font-size: 14px;
    padding: 15px;
    line-height: 21px;
}

/* ===== Services Mobile ===== */

.services {
    width: 676px;
    height: 3895px;
    background-color:white;
	padding: 15px;
    padding-top: 40px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.services h2 {
    font-weight: bold;
    font-size: 48px;
    padding-bottom: 15px;
}
.box img {
    width: 675px;
    height: 453px;
}
.services .box {
    width: 675px;
    background-color: #ffe6ac;
    margin-top: 15px;
    padding-bottom: 15px;
}
.box h3 {
    font-weight: bolder;
    font-size: 31px;
    padding-top: 42px;
    padding-bottom: 29px;
    padding-left: 15px;
}
.box p {
    font-size: 14px;
    line-height: 21px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-right: 10px;
}
.box button {
    width: 220px ;
    height: 95px;
    background: #222222;
    color: rgb(255, 255, 255);
    font-size: 20px;
    align-items: center;
    margin-left: 15px;
}
/* ===== Our vision mobile ===== */

.vision {
    background-image: url("..//images/vision.jpg");
    background-size: 706px 300px;
    background-repeat: no-repeat;
    margin-top: 5px;
}
.vision h3 {
    color: white;
    font-weight: bold;
    font-size: 32px;
    padding-top: 40px;
}
.vision .container{
    width: 675px;
    padding: 15px;
}
.vision p {
    color: white;
    font-size: 14px;
    padding-top: 30px;
    padding-right: 15px;
    line-height: 21px;
    padding-bottom: 15px;
}
.vision button {
    width: 215px ;
    height: 95px;
    background: #122740;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: 1px solid #c78b07;
}

/* ===== Our Team Mobile===== */
.team {
    width: 675px;
    background-color:white;
	padding: 15px;
    padding-top: 40px;
}
.team h2 {
    font-weight: bold;
    font-size: 48px;
}
.team .container-grid img {
    width: 675px;
    height: 453px;
}
.team .container-grid .one {
    padding-top: 25px;
}
.team .container-grid .two {
    padding-top: 15px;
}
.team div .box {
    width: 675px;
    height: 180px;
    background-color: #ffe6ac;        
}
.team h3 {
    font-weight: bolder;
    font-size: 31px;
    padding-top: 27px;
    padding-bottom: 10px;
    padding-left: 15px;
}
.team h4 {
    font-weight: bolder;
    font-size: 14px;
    margin-left: 15px;
    padding-right: 15px;
    width: 630px;
    line-height: 20px;
    border-bottom: 2px solid #c78b07;
    margin-bottom: 10px;
}
.team .box p {
    font-size: 14px;
    line-height: 21px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-right: 10px;
}

/* ===== Contact us Mobile===== */
.contact {
    width: 675px;
    background-color:white;
	padding: 15px;
    padding-top: 50px;
}

.contact h2 {
    font-weight: bold;
    font-size: 48px;
    padding-bottom: 40px;
}

.container-grid .hours{
    padding-top: 25px;
}
.contact h3 {
    font-weight: bolder;
    font-size: 31px;
    margin-bottom: 20px;
}
.contact .form label{
    margin-top: 20px;
    font-size: 14px;
}
.contact .form
input[type=text] {
	width: 675px;
	height: 30px;
	box-sizing: border-box;
	border: 1px solid black;
	outline: none;
    margin-bottom: 5px;
}
.contact .form
input[type=text]#message {
	width: 675px;
	height: 149px;
	box-sizing: border-box;
	border: 1px solid black;
	outline: none;
    margin-bottom: 15px;
  }
.contact input[type=submit]{
    width: 61px ;
    height: 33px;
    background: #122740;
    color: #c78b07;
    font-size: 20px;
    border: none;
    font-size: 20px;
    align-self: center;
}
/* == Hours of operation mobile== */
.hours table td{
    border: 1px solid black;
    text-align: left;
    width: 675px;
    font-size: 14px;
    padding: 15px;
}
.hours tr th{
    background-color: #ffe6ac;
    padding: 10px;
    border: 1px solid black;
    font-size: 14px;
}
.hours td:nth-child(2){
    width: 392px;
}
/* == Location Mobile == */

.location h3 {
    padding-top: 30px;
}
.location iframe {
    width: 675px;
    height: 450px;
}
/* ========== Footer Mobile ========== */

footer p {
    text-align: left;
    width: 706px;
    background-color: #222222;
    color: #c78b07;
    padding: 15px;
    padding-top: 25px;
    line-height: 35px;
    padding-bottom: 5px;
}
footer a:link {
    text-decoration: none;
}
footer p a:visited {
    color:  #810;
}







/* =========
======= Carol's DESKTOP Style ==========
=========*/

@media screen and (min-width: 706px){
    body{
        background: #222222;
        font-family: 'Open Sans', sans-serif;
        font-size:16px;
    }
   
    .navcontainer {
        overflow: hidden;
        text-align: center;
        display: block;
    }
    .navcontainer .home a,
    .navcontainer img,
    .navcontainer a {
        float: left;
        color: #c78b07;
        text-align: center;
        padding: 27px 44px;
        text-decoration: none;
        font-size: 17px;
        background-color: #222222;
    }  
    .navcontainer .home a,
    .navcontainer a {
        width: unset;
        margin-top: 50px;
        line-height: 0px;
        margin-left: unset;
        margin-right: unset;
    }
    .navcontainer a:hover {
        background-color: #c78b07;
        color: black;
    }
    .navcontainer img {
        width: 100px;
        height: 100px;
        padding-top: 15px;
        padding-right: 30px;
        padding-left: 120px;
        background-color: #222222;
    }
    /* Search bar Desktop */
    nav form {
        display: flex;
        padding-left: 33px;
        padding-top:55px;
    }
    form button {
        width: 40px ;
        height: 45px;
        border: 1px solid #c78b07;
        background: #222222;
        color: #c78b07;
        font-size: 22px;
    }
    form input[type="text"]{
        width: 220px;
        height: 41px;
        font-family: Arial;
        font-size: 18px;
        padding: 0px;
        padding-left: 10px;
    }
    /* welcome Desktop*/
    .welcome {
        background-image: url("..//images/main-banner.jpg");
        width: 1440px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    header .text1 h1 {
        font-weight: 700;
        font-size: 80px;
        opacity: 100%;
        line-height: 125px;
        color: white;
        padding-left: 15px;
        width: 935px;
        padding-top: 50px;

        
    }
    .text1 p {
        color: white;
        font-size: 15px;
        line-height: 21px;
        padding-left: 15px;
        padding-right: 45px;
        padding-bottom: 20px;
    }
    .text1 button {
        width: 292px ;
        height: 97px;
        background: #c78b07;
        color: black;
        font-size: 20px;
        align-items: center;
        margin-left: 15px;
        margin-bottom: 17px;
    }
    header .container{
        background: rgba(0, 0, 0, 0.592);
        width: 1155px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:135px;
    }
    header .welcome .container:before{
        content: "";
        background-color: rgba(0, 0, 0, 0);
    }

    /* ============ MAIN Desktop========== */
    .about {
        width: 1440px;
        height: 328px;
        background-color:#ffe6ac;
        padding: 5px;
        padding-bottom: 5px;
    }
    main .content img {
        width: 575px;
        height: 293px;
        margin-left: 135px;
        float: left;
    }
    .content h2 {
        font-weight: bold;
        font-size: 48px;
        padding-top: 23px;
    }
    .content p {
        font-size: 16px;
        padding-right: 130px;
        line-height: 23px;
        padding-top: 15px;
    }
  
/* ===== Services Desktop ===== */

    .services {
        width: 1440px;
        height: 1375px;
        background-color:white;
        padding-top: 35px;
        padding-left: 135px;
    }
    .services h2 {
        font-weight: bold;
        font-size: 48px;
    }
    .box img {
        width: 380px;
        height: 250px;
    }
    .services .box {
        width: 380px;
    }

    .box h3 {
        font-weight: bolder;
        font-size: 31px;
        padding-top: 42px;
        padding-bottom: 29px;
        padding-left: 15px;
    }
    .box p {
        font-size: 16px;
        line-height: 23px;
        padding-left: 15px;
        padding-bottom: 20px;
        padding-right: 10px;
    }
    .box button {
        width: 347px;
        height: 95px;
        background: #222222;
        color: rgb(255, 255, 255);
        font-size: 20px;
        align-items: center;
        margin-left: 15px;
    }
    .services .container-grid {
        width: 1155px;
        column-gap: 196px;
        display: grid;
        grid-template-rows: 50px 1fr 1fr;
        grid-template-columns: repeat(6, 1fr);
    }
    .services h2 {
        grid-row: 1;
        grid-column: 1 /span 3;
    }
    .services .one {
        width: 575px;
        background-color: #ffe6ac;
        grid-row: 2;
        grid-column: 1 / span 4;
    }
    .services .one img,
    .services .two img {
        width: 575px;
        height: 385px;
    }
    .services .one button,
    .services .two button {
        width: 540px;
        height: 105px;
        background: #222222;
        color: rgb(255, 255, 255);
        font-size: 20px;
        align-items: center;
        margin-left: 15px;
    }
    .services .two {
        width: 575px;
        background-color: #ffe6ac;
        grid-row: 2;
        grid-column: 4 / span 7;
    }
    .services .three {
        height: 585px;
        background-color: #ffe6ac;
        grid-row: 3;
        grid-column: 1 / span 3;
    }
    .services .four {
        height: 585px;
        background-color: #ffe6ac;
        grid-row: 3;
        grid-column: 3 / span 5;
    }
    .services .five {
        height: 585px;
        background-color: #ffe6ac;
        grid-row: 3;
        grid-column: 5 / span 7;
    }
/* ===== Our vision Desktop ===== */
    .vision {
        background-image: url("..//images/vision.jpg");
        height: 295px;
        background-size: cover;
        background-position: center center;
        margin-top: 5px;
    }
    .vision h3 {
        color: white;
        font-weight: bold;
        font-size: 32px;
        padding-top: 40px;
    }
    .vision .container{
        width: 1155px;
        padding-left: 135px;
    }
    .vision p {
        color: white;
        font-size: 14px;
        padding-top: 30px;
        padding-right: 15px;
        line-height: 21px;
        padding-bottom: 15px;
    }
    .vision button {
        width: 215px ;
        height: 95px;
        background: #122740;
        color: rgb(255, 255, 255);
        font-size: 20px;
        border: 1px solid #c78b07;
    }

/* ===== Our Team Desktop ===== */

    .team {
        width: 1440px;
        background-color:white;
        padding-left: 135px;
        padding-top: 40px;
    }
    .team .container-grid img {
        width: 577px;
        height: 390px;
    }
    .team .container-grid{
        width: 1155px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 67px 1fr 1fr ;
        row-gap: 0px;
    }
    .team h2 {
        font-weight: bold;
        font-size: 48px;
        grid-row: 1;
    }
    .team .container-grid .one {
        padding-top: 0px;
        grid-row: 2;
        grid-column:1;
    }
    .team .container-grid .two {
        padding-top: 0px;
        grid-row: 3;
        grid-column:2;
    }
    
    .team div .doe{ 
        width: 577px;
        height: 390px;
        background-color: #ffe6ac; 
        grid-row: 2;
        grid-column:2;    
    }
    .team div .bob{ 
        width: 577px;
        height: 390px;
        background-color: #ffe6ac; 
        grid-row: 3;
        grid-column:1;    
    }

    .team h3 {
        font-weight: bolder;
        font-size: 31px;
        padding-top: 27px;
        padding-bottom: 10px;
        padding-left: 15px;
    }
    .team h4 {
        font-weight: bolder;
        font-size: 14px;
        margin-left: 15px;
        padding-right: 15px;
        width: 532px;
        line-height: 20px;
        border-bottom: 2px solid #c78b07;
        margin-bottom: 10px;
    }
    .team .box p {
        font-size: 16px;
        line-height: 23px;
        padding-left: 15px;
        padding-bottom: 20px;
        padding-right: 10px;
    }
/* ===== Contact us Desktop===== */
    .contact {
        width: 1440px;
        height: 800px;
        background-color:white;
        padding-left: 135px;
        padding-top: 50px;
    }
    .contact .container-grid {
        width: 1155px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 67px 1fr 1fr;
        row-gap: 0px;
        column-gap: 15px;
    }
    .contact h2 {
        font-weight: bold;
        font-size: 48px;
        padding-bottom: 40px;
        grid-row: 1;
        grid-column: 1
    }
    .container-grid .hours{
        padding-top: 25px;
        grid-column: 1 / span 3;
        grid-row: 3;
    }
    .contact .container-grid .form {
        grid-row: 2;
        grid-column: 1;
    }
    .contact .container-grid .location {
        width: 577px;
        grid-row: 2;
        grid-column: 2;
    }
    .contact h3 {
        font-weight: bolder;
        font-size: 31px;
        margin-bottom: 20px;
    }
    .contact .form label{
        margin-top: 20px;
        font-size: 14px;
    }
    .contact .form
    input[type=text] {
        width: 577px;
        height: 30px;
        box-sizing: border-box;
        border: 1px solid black;
        outline: none;
        margin-bottom: 5px;
    }
    .contact .form
    input[type=text]#message {
        width: 577px;
        height: 149px;
        box-sizing: border-box;
        border: 1px solid black;
        outline: none;
        margin-bottom: 15px;
    }
    .contact input[type=submit]{
        width: 61px ;
        height: 33px;
        background: #122740;
        color: #c78b07;
        font-size: 20px;
        border: none;
        font-size: 20px;
        align-self: center;
    }
/* == Hours of operation mobile== */
    .contact .hours h3 {
        font-weight: bolder;
        font-size: 31px;
        margin-bottom: 20px;
        margin-top: 25px;
    }
    .hours table td{
        border: 1px solid black;
        text-align: left;
        width: 615px;
        font-size: 14px;
        padding: 15px;
    }
    .hours tr th{
        background-color: #ffe6ac;
        padding: 10px;
        border: 1px solid black;
        font-size: 14px;
    }
    .hours td:nth-child(2){
        width: 478px;
    }
    /* == Location Desktop == */

    .location h3 {
        padding-top: 0px;
    }
    .location iframe {
        width: 562px;
    }
    /* ========== Footer Desktop ========== */

    footer p {
        text-align: left;
        width: 1440px;
        background-color: #222222;
        color: #c78b07;
        padding: 15px;
        padding-top: 25px;
        line-height: 35px;
        padding-bottom: 5px;
        padding-left: 135px;
    }
    footer a:link {
        text-decoration: none;
    }
    footer p a:visited {
        color:  #810;
    }

}